@media screen and (max-width: 1284px){
    .project_cards{
       gap: 25px;
       justify-content: center;
    }
}
@media screen and (max-width: 1194px){
    .home_img-bottom{
        width: 90%;
    }
}
@media screen and (max-width: 1062px){
    .home_img-bottom{
        width: 110%;
    }
}
@media screen and (max-width: 980px){
    .navbar,.home,.quote,.project,.skills,.about,.contact,footer{
        padding-left: 70px;
        padding-right: 70px;
    }
    .skills_body-img{
        width: 50%;
    }
    .skills_body{
        gap: 40px 0;
    }
}
@media screen and (max-width: 888px){
   .home{
    flex-direction: column;
    gap: 100px 0;
   }
   .home_img-bottom{
    width: 110%;
    }
    .skills_body{
        flex-direction: column;
    }
    .skills_body-img{
        width: 70%;
    }
}
@media screen and (max-width: 704px){
    .quote{
        padding: 2rem 60px 5rem;
    }
   .quote_text{
        width: 100%;
   }
   .about_body{
    flex-direction: column;
    align-items: center;
   }
   .about_body-content{
        width: 100%;
    }
   .about_body-img{
    border-bottom: 1px solid var(--main-color);
    margin-top: 0;
    }
    .contact_body{
        flex-direction: column;
    }
    .nav_sm-links{
        left: 10px;
    }
    .project_header h3, .skills_header h3, .about_header h3, .contact_header h3{
        font-size: 1.4rem;
    }
    .project_header h3::after, .skills_header h3::after, .about_header h3::after, .contact_header h3::after{
        width: 25px;
        right: -30px;
    }
    .project_nav{
        font-size: 14px;
    }
    .nav_menu{
        flex-direction: column;
        position: absolute;
        right: -100%;
        top: 50px;
        width: 100%;
        background-color: var(--dark);
        transition: 1s;
    }
    .nav-menu-active{
        right: 0;
        transition: 1s;
    }
    .nav_list{
        margin: 40px 0;
    }
    .nav_toggler{
        display: block;
    }
 }
 @media screen and (max-width: 644px){
    .home_content-title{
        font-size: 1.5rem;
        line-height: 2;
    }
    .skills_body-img{
        width: 100%;
    }
 }
 @media screen and (max-width: 568px){
    .quote_text{
        font-size: 16px;
    }
    .quote-bottom{
        top: 100px;
    }
 }
 @media screen and (max-width: 518px){
    .navbar,.home,.quote,.project,.skills,.about,.contact,footer{
        padding-left: 60px;
        padding-right: 30px;
    }
    .home_content-text{
        font-size: 15px;
    }
    footer{
        padding-left: 20px;
    }
    footer p{
        font-size: 15px;
        line-height: 2;
    }
 }
 @media screen and (max-width: 434px){
    .skills_body-content{
        gap: 50px 0;
    }
 }